body
{
	background-color: rgba(249, 157, 0, 0.3);
	margin-top: -1px;
	margin-bottom: 0px;
}
#center
{
	border: 2px solid;
	border-color: #9c8a6a;
	width: 50%;
	margin-top: -2px;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 25%;
	right: 25%;
	height: 100%;
	background-color: #ffffff;
	color: #000000;
}
#title a
{
	color: rgb(100,140,110);
	text-decoration: none;
}
#disclaimer
{
	border: 2px solid green;
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
#disclaimer2
{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	text-align: center;
}
#footer a:hover
{
	color: #ff69b4;
}
#footer a
{
	color: rgb(100,110,140);
	text-decoration: none;
}
#footer
{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	text-align: center;
}
#title
{
	margin-top: 10px;
	margin-bottom: 7px;
	font-size: 33px;
	text-align: center;
	font-family: "Serif";
}
#navbar a:hover
{
	color: #006400;
}
#navbar a
{
	color: rgb(100,110,140);
	text-decoration: none;
}
#navbar
{
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px #eaeaea;
	border-bottom: solid 1px #eaeaea;
	background-color: #fbfbfb;
	text-align: center;
	font-family: "Serif";
	width: 80%;
	margin-bottom: 7px;
}
#date_review
{
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -20px;
}
#review
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}
#review hr
{
	margin-top: 2px;
	margin-bottom: 2px;
}
#review h2
{
	margin-bottom: 2px;
}
#review_rating a:hover
{
	color: #006400;
}
#review_rating a
{
	color: rgb(100,110,140);
	text-decoration: none;
}
#review_content a:hover
{
	color: #006400;
}
#review_content a
{
	color: rgb(100,110,140);
	text-decoration: none;
}
#review_rating br
{
	display: none;
}
#review_rating
{
	font-size:15px;
}
#quote
{
	margin-top: 2px;
	margin-bottom: 20px;
	font-style:  italic;
}
@media all and (orientation:portrait) and (max-device-width: 600px) 
{
 	#center
 	{
 		border: 2px solid;
		border-color: #9c8a6a;
		width: 70%;
		margin-top: -2px;
		top: 0px;
		margin-left: auto;
		margin-right: auto;
		left: 15%;
		right: 15%;
		height: 100%;
		background-color: #ffffff;
		color: #000000;
 	}
	#review_rating br
	{
		display: show;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}
@media all and (orientation:landscape) and (max-device-width: 600px) 
{
 	#center
 	{
 		border: 2px solid;
		border-color: #9c8a6a;
		width: 80%;
		margin-top: -2px;
		top: 0px;
		margin-left: auto;
		margin-right: auto;
		left: 10%;
		right: 10%;
		height: 100%;
		background-color: #ffffff;
		color: #000000;
 	}
}